
body {
  margin: 0;
}

.texto-partes {
  font-size: 19px;
  margin-top: 50px;
  text-align: center;
}

.partes {
  position: relative;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cajita {
  margin-top: 30px;
  margin-left: 60px;
  margin-bottom: 70px;
}

.tablero {
  width: 200px;
  height: 200px;
}

.texto-tablero {
  font-size: 15px;
  margin-top: 20px;
}

.motor {
  width: 200px;
  height: 200px;
}

.texto-motor {
  font-size: 15px;
  margin-top: 20px;
}

.ultrasonico {
  width: 200px;
  height: 200px;
}

.texto-ultrasonico {
  font-size: 15px;
  margin-top: 20px;
}

.modulo-seguimiento {
  width: 200px;
  height: 200px;
}

.texto-modulo-s {
  font-size: 15px;
  margin-top: 20px;
}

.modulo-deteccion {
  width: 200px;
  height: 200px;
}

.texto-deteccion {
  font-size: 15px;
  margin-top: 20px;
}

.motor-r {
  width: 200px;
  height: 200px;
}

.texto-motor-r {
  font-size: 15px;
  margin-top: 20px;
}

.soporte-ultrasónico {
  width: 200px;
  height: 200px;
}

.texto-soporte {
  font-size: 15px;
  margin-top: 20px;
}

.servo {
  width: 200px;
  height: 200px;
}

.texto-servo {
  font-size: 15px;
  margin-top: 20px;
}

.ruedas {
  width: 200px;
  height: 200px;
}

.texto-ruedas{
  font-size: 15px;
  margin-top: 20px;
}

.discos {
  width: 200px;
  height: 200px;
}

.texto-discos {
  font-size: 15px;
  margin-top: 20px;
}

.soporte-fijacion {
  width: 200px;
  height: 200px;
}

.texto-soporte-f {
  font-size: 15px;
  margin-top: 20px;
}

.bateria {
  width: 200px;
  height: 200px;
}

.texto-bateria {
  font-size: 15px;
  margin-top: 20px;
}

.postes {
  width: 200px;
  height: 200px;
}

.texto-poste {
  font-size: 15px;
  margin-top: 20px;
}

.tuerca {
  width: 200px;
  height: 200px;
}

.texto-tuerca {
  font-size: 15px;
  margin-top: 20px;
}

.tornillo {
  width: 200px;
  height: 200px;
}

.texto-tornillo {
  font-size: 15px;
  margin-top: 20px;
}

.placa {
  width: 200px;
  height: 200px;
}

.texto-placa {
  font-size: 15px;
  margin-top: 20px;
}











































.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 'Indie Flower', cursive;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

































menu {
  margin: 0;
  padding: 0;
}


.footer {
  position: relative;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 300px;
  margin-top: 80px;
}

.contact {
  color: yellow;
  font-size: 20px;
}

.santa-coloma {

  color: white;
  font-size: 15px;
}

.direccion {

  color: white;
  font-size: 15px;
}

.tn-1 {
  color: white;
  font-size: 15px;
}

.tn-2 {
  color: white;
  font-size: 15px;
}

.fax {
  color: white;
  font-size: 15px;
}

.correo-1 {
  color: white;
  font-size: 15px;
}

.correo-2 {
  color: white;
  font-size: 15px;
}

.mapa {
  height: 200px;
  width: 300px;
  margin-top: 50px;
  margin-right: 300px;
}

.cajita2 {
  margin-left: 250px;
  margin-top: 50px;
  line-height : 25px;
}


















































































































































.texto1 {
  margin-top: 100px;
  margin-left:690px;
  font-size: 30px;
}



.foto1 {
  position: absolute;
  width: 370px;
  height: 320px;
  margin-left: 700px;
  margin-top: 70px;

}

.foto2 {
  position: absolute;
  width: 370px;
  height: 320px;
  margin-left: 100px;
  margin-top: 70px;
}




.foto3 {
  position: absolute;
  width: 390px;
  height: 320px;
  margin-left: 1300px;
  margin-top: 70px;

}




.primeraparte {
  position: relative;
  font-size: 17px;
  margin-top: 420px;
  margin-left: 30px;
}


.procedimiento {
  position: relative;
  margin-left: 330px;
  margin-top: 30px;
  font-size: 70px;

}



.separar {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: gray;
  margin-top: 30px;
}


.texto2parte {
position: relative;
  margin-top: 700px;
}


.foto12parte {
  position: absolute;
  width: 390px;
  height: 320px;
  margin-left: 200px;
  margin-top: 150px;


}

.foto22parte {
  position: absolute;
  width: 390px;
  height: 320px;
  margin-left: 1200px;
  margin-top: 150px;

}


.foto32parte {
  position: absolute;
  width: 390px;
  height: 320px;
  margin-left: 700px;
  margin-top: 150px;

}

.texto2parte {
  position: relative;
  font-size: 17px;
  margin-top: 510px;
  margin-left: 30px;
}






















































































































































.header {
  position: relative;
  background-color: gray;
  width: 100%;
  height: 190px;
  font-family: 'Tapestry', cursive;
}

.texto-header-1 {
  position: absolute;
  margin-left: 9%;
  margin-top: 70px;
  font-size: 22px;
}

.texto-header-2 {
  position: absolute;
  margin-left: 80%;
  margin-top: 70px;
  font-size: 22px;
}

.puig {
  position: absolute;
  width: 600px;
  height: 100px;
  margin-left: 34%;
  margin-top: 35px;
}

.coche {
  width: 100%;
  margin-top: 30px;
}







































































.texto-fotos {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}


.cajita3 {
  margin-top: 150px;
  margin-left: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.numero1 {
  height: 400px;
  width: 400px;
}

.numero2 {
  height: 400px;
  width: 400px;
}

.numero3 {
  height: 400px;
  width: 400px;
}


.cajita4 {
  margin-top: 150px;
  margin-left: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.numero4 {
  height: 400px;
  width: 400px;
}

.numero5 {
  height: 400px;
  width: 400px;
}

.numero6 {
  height: 400px;
  width: 400px;
}

.cajita5 {
  margin-top: 150px;
  margin-left: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.numero7 {
  height: 400px;
  width: 400px;
}

.numero8 {
  height: 400px;
  width: 400px;
}

.numero9 {
  height: 400px;
  width: 400px;
}

.cajita6 {
  margin-top: 150px;
  margin-left: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.numero10 {
  height: 400px;
  width: 400px;
}

.numero11 {
  height: 400px;
  width: 400px;
}

.numero12 {
  height: 400px;
  width: 400px;
}
















































.fondo-manual{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: gray;
}

.manual-1 {
  position: absolute;
  margin-left: 43%;
  margin-top: 30px;
  font-size: 28px;
}

.paso1 {
  text-align: center;
  margin-top: 100px;
  font-size: 23px;
  background-color: black;
  color: white;
}

.texto-paso1 {
  text-align: center;
  font-size: 19px;
  margin-top: 50px;
}

.paso2 {
  text-align: center;
  margin-top: 100px;
  font-size: 23px;
  background-color: black;
  color: white;
}

.texto-paso2 {
  text-align: center;
  font-size: 19px;
  margin-top: 50px;
}

.arduino {
  width: 250px;
  height: 150px;
  margin-left: 43%;
  margin-top: 50px;
}

.paso3 {
  text-align: center;
  margin-top: 100px;
  font-size: 23px;
  background-color: black;
  color: white;
}

.texto-paso3 {
  text-align: center;
  font-size: 19px;
  margin-top: 50px;
}

.codigo1 {
  width: 250px;
  height: 150px;
  margin-left: 43%;
  margin-top: 50px;
}

.texto2-paso3 {
  text-align: center;
  font-size: 19px;
  margin-top: 50px;
}

.verificar {
  width: 250px;
  height: 150px;
  margin-left: 43%;
  margin-top: 50px;
}

.paso4 {
  text-align: center;
  margin-top: 100px;
  font-size: 23px;
  background-color: black;
  color: white;
}

.texto-paso4 {
  text-align: center;
  font-size: 19px;
  margin-top: 50px;
}

.puja {
  width: 250px;
  height: 150px;
  margin-left: 43%;
  margin-top: 50px;
}
